/* Container Of The Plugin */

.socialPlugin {
	text-align: center;
	width: 59px;
	margin: 20px auto 0;
	height: 30px;
	display: block;
	cursor: pointer;
	position: fixed;
	bottom: 25px;
	right: 6px;
	z-index: 999;
}

.socialPlugin .showSocialButtons {
	font-size: 18px;
	cursor: pointer;
	padding: 16px 17px;
	border-radius: 50%;
	color: #777;
	position: relative;
	z-index: 999;
	box-shadow: 0 0 10px #C7C6C6;
	background-color: white;
}

.socialPlugin .socials {
	width: 260px;
	color: white;
	line-height: 10px;
	text-align: center;
	margin-top: -50px;
	margin-left: -234px;
	display: block;
	opacity: 0;
	font-size: 10px;
	overflow: hidden;
	visibility: hidden;
}

/*.socialPlugin .socials:after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	margin: 4px auto;
	height: 0;
	width: 0;
	border-left: 15px solid rgba(0, 0, 0, 0);
	border-right: 15px solid rgba(0, 0, 0, 0);
	border-top: 15px solid #becade;
}*/

/* Toggled State */

.socialPlugin .socials.opened{
	opacity: 1;
	font-size: 10px;
	overflow:visible;
	visibility:visible ;
}
.socialPlugin .socials.socials-hover {
	opacity: 1;
	font-size: 10px;
	overflow:visible;
	visibility:visible ;
}

/* Share buttons */

.socialPlugin .socials .fa {
	height: 2.5em;
	font-size: 2em;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	width: 2.5em;
	-webkit-backface-visibility: hidden;
	border-radius: 50%;
	margin-right: 5px;
}

.socialPlugin .socials .fa:before, .socialPlugin .socials .fa:after {
	left: 0;
	position: absolute;
	text-align: center;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	top: 50%;
	width: 100%;
}

.socialPlugin .socials .fa:before {
	color: white;
	-webkit-transform: translate3D(0, -50%, 0);
	-ms-transform: translate3D(0, -50%, 0);
	transform: translate3D(0, -50%, 0);
	z-index: 2;
}

.socialPlugin .socials .fa:after {
	padding-bottom: 25%;
	padding-top: 300%;
	top: 0;
}

.socialPlugin .socials .fa:hover:after {
	-webkit-transform: translate3D(0, -73%, 0);
	-ms-transform: translate3D(0, -73%, 0);
	transform: translate3D(0, -73%, 0);
}

.socialPlugin .socials .fa:hover:before {
	-webkit-transform: translate3D(0, -250%, 0);
	-ms-transform: translate3D(0, -250%, 0);
	transform: translate3D(0, -250%, 0);
}

/* The social icons */

.socialPlugin .socials .fa-twitter:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #00acee), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#00acee 25%, #ffffff 75%);
	background-image: linear-gradient(#00acee 25%, #ffffff 75%);
	content: "\f099";
	color: #00acee;
}

.socialPlugin .socials .fa-facebook:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #3b5998), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#3b5998 25%, #ffffff 75%);
	background-image: linear-gradient(#3b5998 25%, #ffffff 75%);
	content: "\f09a";
	color: #3b5998;
}

.socialPlugin .socials .fa-google-plus:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #bb0000), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#bb0000 25%, #ffffff 75%);
	background-image: linear-gradient(#bb0000 25%, #ffffff 75%);
	content: "\f0d5";
	color: #bb0000;
}

.socialPlugin .socials .fa-pinterest:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #cb2027), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#cb2027 25%, #ffffff 75%);
	background-image: linear-gradient(#cb2027 25%, #ffffff 75%);
	content: "\f0d2";
	color: #cb2027;
}

.socialPlugin .socials .fa-tumblr:after {
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(25%, #2C4762), color-stop(75%, #ffffff));
	background-image: -webkit-linear-gradient(#2C4762 25%, #ffffff 75%);
	background-image: linear-gradient(#2C4762 25%, #ffffff 75%);
	content: "\f173";
	color: #2C4762;
}
