@charset "utf-8";

#sideRightAds{
	position: relative;
	float: left;
	width: 460px;
	max-width: 460px;
	margin-left: 120px;
}

#sideRightAds .art h3 { margin-bottom: 0; }

/*#amazon-wrapper,*/
#bangs-wrapper,
#faves-wrapper { display: none; }

/*#amazon-wrapper { margin-bottom: 25px; }

#amazon-block .faves-list > li { border: none; }

#amazon-block .faves-list > li:hover { outline: 1px solid #ccc; }*/

#sideRightAds .faves-list li:nth-child(1n+1) { margin-right: 0; }

#sideRightAds .ads-block .faves-list li {
	width: 130px;
	height: 100%;
	padding: 8px;
	border: none;
}
/*-----------------------------------------------*/

#sideRightAds .faves-list li {
  width: 120px;
  height: 46px;
  text-align: center;
}

#sideRightAds .ads-block .faves-list li .ads-img-block {
	text-align: center;
	width: initial;
	height: 86px;
	margin: 5px 0 5px 0;
}

#sideRightAds .ads-block .faves-list li .ads-price-block {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	margin: 10px 0 5px 0;
}

#sideRightAds .ads-block .faves-list li .ads-img-block a img {
	width: 100%;
	height: 100%;
	max-width: 120px;
	max-height: 96px;
}

#sideRightAds .ads-block .faves-list li .ads-title-block {
	font-size: 14px;
	text-align: center;
	padding: 0 2px;
	width: 106px;
	margin: 0 auto;
}

#sideRightAds .ads-block .ads-infot-title {
	text-align: right;
	margin: 0 3px 0 3px;
	/*padding: 0 10px 0 0;*/
}

#sideRightAds .ads-block .sp-info-img img {
	width: 16px;
	height: 16px;
	margin-right: 5px;
}

#sideRightAds .tab-content .tab-pane .faves-list li:nth-child(1n+2) {
	margin-left: 20px;
	margin-right: 0;
}

#sideRightAds .tab-content .tab-pane .faves-list .left_extreme { margin-left: 0 !important; }

#sideRightAds .tab-content .tab-pane .faves-list .ordinary {
	margin-left: 12px;
	margin-right: 0;
}

#sideRightAds .tab-content .tab-pane .faves-list li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 5px #9c9c9c;
	-moz-box-shadow: 0 1px 5px #9c9c9c;
	box-shadow: 0 1px 5px #9c9c9c;
	color: #a3a3a3;
	background: #fafafa;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

#sideRightAds #rsads-container {
	width: 100%;
	height: 100%;
}

#owl-amazon.faves-list li .ads-img-block a img,
#owl-ebay.faves-list li .ads-img-block a img,
#owl-ali.faves-list li .ads-img-block a img {
	height: auto !important;
	max-height: 86px !important;
	width: auto !important;
	margin: 0;
}

/*-----------------------------------------------*/

#faves-wrapper { margin-bottom: 35px; }

#sideRightAds .vbing-block { margin-bottom: 20px; }

#faves-wrapper .faves-block { margin-bottom: 25px; }

#faves-wrapper .faves { margin-bottom: 5px; }

#faves-wrapper .faves-list li {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 5px #9c9c9c;
	-moz-box-shadow: 0 1px 5px #9c9c9c;
	box-shadow: 0 1px 5px #9c9c9c;
	color: #a3a3a3;
	background: #fafafa;
	padding: 5px 10px 5px 10px;
	text-decoration: none;
}

#faves-wrapper .nav-tabs > li > a { padding: 2px 5px 2px 5px; }

#faves-wrapper .faves-list li:first-child { margin-left: 0; }

#faves-wrapper .faves-list li:nth-child(1n+2) { margin-right: 0; }

#faves-wrapper .left_extreme { margin-left: 0 !important; }

#faves-wrapper .ordinary {
	margin-left: 18px;
	margin-right: 0;
}

.ads-title-block {
	max-height: 56px;
	overflow: hidden;
}

.ads-advertiser-block {
	text-align: center;
	color: green;
	overflow: hidden;
}

#ads_place_1,
#ads_place_2,
#ads_place_3,
#ads_place_4 { margin-bottom: 25px; }

.tooltip { max-width: 260px !important; }

.c_fave_show_more { padding: 0 10px; }

#bgs-wrapper .tab-content{
	padding: 10px 10px;
}
#bgs-wrapper .tab-content ul{
	padding: 0;
}
#bgs-messages{
	margin: 20px 0 0 0;
}
#bgs-wrapper .tab-content article h3 {
  margin-bottom: 0;
  font-size: 16px;
  height: 18px;
  font-weight: normal;
}
#bgs-wrapper .tab-content article h2{
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
#bgs-wrapper .tab-content article {
  margin-bottom: 16px;
}
#bgs-wrapper .tab-content article p{
  max-height: 38px;
  overflow: hidden;
}

#bgs-wrapper .tab-content article .domain-decor{
  color: green;
}

hr {
  display: block;
  position: relative;
  padding: 0;
  margin: 8px auto;
  height: 0;
  width: 100%;
  max-height: 0;
  font-size: 1px;
  line-height: 0;
  clear: both;
  border: none;
  border-top: 1px solid #aaaaaa;
  border-bottom: 1px solid #ffffff;
}

._hide{
	display: none;
}
.iload{
	position: absolute;
	top: 16px;
	right: 1px;
	z-index: 300;
}
.iload img {
	width: 16px;
	height: 16px;
}