@charset "utf-8";

.right_container {
  width: 505px;
  max-width: 505px;
  margin-left: 178px;
}

.art{
  margin-bottom: 32px;
}

.art .art-news-descr {
  margin: 0;
  max-height: 42px;
  overflow: hidden;
}

.art .art-news-date {
  color: #666666;
}

.art .art-news-link-decor {
  color: green;
}

.also_on-block {
  position: relative;
  margin: 0 0 35px 0;
  clear: both;
}

.tab-pane {
  margin-top: 7px;
  margin-bottom: -12px;
}

/* WIKI BLOCK */
#wiki-info {
  display: none;
  /*margin-bottom: 40px;*/
}

#wiki-info .art-wiki p {
  display: initial;
  margin: 5px 0 5px 0;
  height: 70px;
}

#wiki-info .subtitle {
  margin: 0;
  padding: 0;
  height: 16px;
  overflow: hidden;
}

#wiki-info .subtitle li {
  display: inline-block;
  position: relative;
  float: left;
}

#wiki-info .subtitle li .sep {
  margin: 0 3px;
}

#wiki-info .sm {
  color: blue;
}

#wiki-info .sm:hover {
  cursor: pointer;
}

/* SIDERIGHT BLOCK */
#sideRight .ads-block .faves-list li {
  padding: 4px;
  width: 166px;
  height: 100%;
  border: none;
}

#sideRight .ads-block .faves-list li:hover {
  /* outline: 1px solid #ccc; */
}

#sideRight .ads-block .faves-list li:nth-child(1n+1) {
  margin-right: 2px;
}

#sideRight .ads-block .faves-list li .ads-img-block {
  text-align: center;
  width: initial;
  height: 86px;
  margin: 5px 0 5px 0;
}

#sideRight .ads-block .faves-list li .ads-price-block {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}

#sideRight .ads-block .faves-list li .ads-img-block a img {
  width: inherit;
  height: 100%;
  max-width: 128px;
  max-height: 76px;
}

#sideRight .ads-block .faves-list li .ads-title-block {
  font-size: 12px;
  text-align: center;
  overflow-y: hidden;
  max-height: 35px;
}

#sideRight .ads-block .ads-infot-title {
  text-align: right;
  margin: 0 3px 0 3px;
}

#sideRight .ads-block .sp-info-img img {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

#sideRight .tab-content .tab-pane .faves-list li{
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

#sideRight .tab-content .tab-pane .faves-list li:nth-child(1n+1) {
  margin-right: 11px;
  margin-bottom: 11px;
}

#sideRight .tab-content .tab-pane .faves-list li a img{
  width: 95px;
  height: 36px;
}

#news-block .art .art-news-link-decor,
#blogs-block .art .art-news-link-decor,
#video-text-block .art .art-news-link-decor{}

/* NEWS BLOCK */
#top-news {
  margin-bottom: 30px;
}

#news-block, #blogs-block {
  margin-bottom: 30px;
}


#news-block .art h3 a,
#blogs-block .art h3 a{
  font-size: 18px;
}

#news-block .img-litera, #blogs-block .img-litera {
  float: left;
  margin-right: 10px;
}

#news-block article:first-of-type {}

#news-block .img-litera img, #blogs-block .img-litera img {
  max-width: 100px;
  max-height: 100px;
  width: 81px;
  height: 56px;
}

#news-block .art, #blogs-block .art{
  margin-bottom: 10px;
}

#news-block .art .art-news-descr, #blogs-block .art .art-news-descr {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* VIDEO BLOCK*/
#video-text-block,
#video-bing-block,
#video-faves-block {
  display: none;
}
#video-text-block{
  margin-bottom: 20px;
  padding: 0 10px;
}
#video-text-block .art{
  margin-bottom: 5px;
}
#video-bing-block{
  margin: 0 0 20px;
}

.video-block {
  margin-bottom: 15px !important;
}

#video-block .vbing-block {
  margin: 15px 0 20px 0;
}

#blogp{
  margin-bottom: 35px;
}

#videop { /*margin-bottom: 50px; */}

/* BLOG BLOCK*/
.blogblock { position: relative; }

.blogblock .symad { right: 25px; }

#blogs-block { margin-bottom: 0; }

/* RSS TEXT */
#rss-block {
	height: auto;
	/*margin-bottom: 35px;*/
    max-height: 1921px;
    overflow: hidden;
}
#rss-block .slick-arrow{ opacity: 0; }
#rss-block h3 {
	margin: 0;
	font-size: 18px;
	text-align: center;
    padding-bottom: 26px;
}

#rss-block h3 > a {
	font-weight: normal;
	font-size: 20px;
	text-decoration: underline;
}

#rss-block .slick-slider,
#rss-block .slick-list,
.rss-content .slick-slider,
.rss-content .slick-list{
	overflow: hidden;
	position: relative;
}

#rss-block .slick-slider,
.rss-content .slick-slider{
    margin: 10px 0 30px;
    max-height: 149px;
}
.rss-content .slc{margin-right: 10px;}
.rss-content .slick-arrow{
    background: rgba(255, 255, 255, .5);
    opacity: 0;
}
.rss-content .slick-arrow.slick-next {
    right: 19px;
}
.rss-content .slick-arrow.slick-prev {
    left: 0;
}
#rss-block .slick-list{
    /*margin: 0 45px;*/
    padding-left: 2px;
}
#owl-amazon{
    width: 100%;
}
#rss-block .slick-track .slick-slide { float: left; }

.slc {
	position: relative;
	display: inline-block;
	margin-right: 5px;
}

.slc a.plitka {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	width: 148px;
	height: 148px;
	margin: 0;
    border-radius: 6px;
	padding: 0;
	color: #fff;
	text-decoration: none;
	text-align: left;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.slc a.plitka img {
	width: 148px;
	margin: 0 auto;
}

.slc a.plitka .snuggle {
	display: block;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 82%, transparent 100%);
	max-height: 144px;
	/*padding: 3px 0;*/
	position: absolute;
	top: 91px;
	left: 0;
	right: 0;
	bottom: auto;
	transition: top 0.6s ease;
}

.slc a.plitka .snuggle > h6 {
    max-height: 96px;
    margin: 0;
    padding: 0 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    overflow: hidden;
}

.slc a.plitka .domain {
    display: block;
    height: 14px;
    margin: 1px 0;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0.5px;
    line-height: 18px;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0.9;
    padding: 0 4px;
}
.date_initialize {
    margin: 0;
    font-size: 12px;
    padding: 0 4px;
    overflow: hidden;
}
.slc a.plitka .description {
	margin: 0;
	font-size: 12px;
	padding: 0 4px;
}

.slick-arrow {
	display: inline-block;
	background: rgba(255, 255, 255, .5);
	padding: 0;
	top: 0;
	width: 35px;
	height: 100%;
	line-height: 48px;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	cursor: pointer;
	z-index: 999;
	-moz-border-radius: 32px;
	filter: Alpha(Opacity=60);
}

.slick-arrow:hover {
	background-color: #fff;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0;
	text-decoration: none;
	filter: Alpha(Opacity=100);
	opacity: 1;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.slick-arrow:hover i.glyphicon { color: #444; }

#owl-images .slick-list { overflow: hidden; }

#owl-images .slick-arrow.slick-prev { left: 0; }
#owl-images .slick-arrow.slick-next { right: 0; }
#owl-images .slick-arrow{ opacity: 0; }
#owl-images .image-item.slick-slide {
	float: left;
	display: inline-block;
	position: relative;
	margin-right: 5px;
}

#owl-images .slick-slide img {
	display: block;
    margin: auto;
	max-width: 140px;
	min-height: 97px;
    margin: 0;
}

.slick-slide img {
	display: block;
	height: 100%;
}

.slick-arrow.slick-next { right: 3px; }

.slick-arrow.slick-prev { left: 2px; }

.slick-disabled { display: none !important; }

.slick-arrow > i.glyphicon {
	display: block;
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 13px;
	position: absolute;
	top: 45%;
	left: 10px;
}

#owl-frss { padding: 0; }

.frss-list { padding: 0; }

#gads { margin-bottom: 30px; }

.delim {
	color: #ccc;
	margin: 0 3px 0 3px;
}

.underlinedh3{
  color: blue;
  font-weight: normal;
  text-decoration: underline;
  font-size: 20px !important;
}

.underlinedh3 a{
  font-weight: normal;
  font-size: 20px;
}


#walmart-block .flexslider .slides li{
  width: 166px;
  height: 186px;
}


#central-ads{
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  margin: 0 0 40px 0;
}

#central-ads .ads {
  height: 72px;
}

#central-ads ul{
  margin: 0 0 10px 0;
  padding: 0;
}

#central-ads ul li{
  float: left;
  width: 50%;
  max-height: 72px;
  overflow: hidden;
}

.ads{
  margin-bottom: 20px;
}
#izadv-link {
    width: 100%;
}
.ads ul{
  margin: 0 0 10px 0;
  padding: 0;
}

.ads ul li{
  float: left;
  width: 50%;
  max-height: 72px;
  overflow: hidden;
}

.ads-title{
  min-height: 18px;
  font-size: 1.2em;
}

.ads-block{
  min-height: 80px;
}

.ads-block ul {
  padding: 0;
  min-height: 52px;
}

.ads-block ul li{
  min-height: 36px;
  width: 100%;
  margin-bottom: 10px;
}

#ebay-place, #rakuten-place, #ali-place{
  display: none;
  margin-bottom: 30px;
}

.ad-title, .ad-tagline, .ad-descr{
  overflow-y: hidden;
}

.ad-title{
  max-height: 36px;
}

.adv-title{
  color: green;
}

#bidvertiser-block, #flex-block{
  display: none;
  min-height: 60px;
}

#chitika-block{
  margin-bottom: 10px;
  margin-left: -15px;
}

#right-chitika-block{
  margin-bottom: 10px;
  margin-left: -5px;
}

#flex-block ul{
  float: left;
  width: 50%;
}

#flex-block ul li{
  width: 90%;
}

#central-ads .ads-block{
  margin-bottom: 10px;
}

/* ADS */
#text-ads{
  display: none;
  margin-bottom: 35px;
}

#text-ads .ads-title{
  height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

#text-ads .ads-block .ads-title a{
  font-size: 18px;
}

#text-ads .ads-block .adv-title{
  font-size: 16px;
}

#text-ads .ads-block .ads-descr{
  color: #444;
}

.ad-badge {
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 2px;
  padding-top: 2px;
  padding-right: 0.25em;
  padding-left: 0.25em;
  line-height: 1.2;
  font-weight: 400;
  background-color: #f0a630;
  color: #fff;
  font-size: 10px;
}

.chitika-block{
  margin: 35px 0 30px 0;
  display: none;
}

.secFooter{
  font-size: 14px;
  max-height: 18px;
  overflow: hidden;
}
.data {
  height: 122px;
  overflow: hidden;
}
#rss-block .owl-buttons div{
  height: 150px;
  top: -63px;
}
#rss-block .owl-buttons div i,
#owl-bingvideo .owl-buttons div i,
#amazon-block .owl-buttons div i {
  line-height: 14;
}

.owl-next {
  padding-left: 7px !important;
  margin-right: -3px !important;
}
.owl-prev {
  padding-right: 7px !important;
  margin-left: -3px !important;
}

#owl-bingvideo .owl-buttons div,
#amazon-block .owl-buttons div{
  top: -84px;
  height: 191px;
}
#amazon-block .owl-next {margin-right: -14px !important;}
div#amzn_assoc_ad_div_adunit0_0 {
   /* margin-top: 35px;*/
    margin-bottom: 12px;
    clear: left;
}
.rss-content{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.rss-content h3 {
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}