@charset "utf-8";

/*
 |==========================================================
 | Sections and Articles
 |==========================================================
 */

/*
 |-----------------------------------------------------------
 | Sections
 |-----------------------------------------------------------
 */

section .section{
	color: #444;
	margin-bottom: 20px;
	width: 100%;
	min-width: 500px;
	vertical-align: top;
}

section .section .secFooter{
	margin: 0;
}

section .section .secFooterOffset{
 margin: 1% 0 0 0;
}

section.section .float_img {
	width: 42px;
	height: 42px;
}

section.section span.float_img:hover{
	cursor: pointer
}


/*
 |-----------------------------------------------------------
 | All
 |-----------------------------------------------------------
 */

.hline{
	border-top: 1px solid #C2C2C4;
	margin: 10px 0 10px 15px;
	width: 50px;
	height: 1px;
}

.grvline{
	color: #C2C2C4;
    margin-left: 5px;
    margin-right: 5px;
}

.imagestyle{
	height: 100px;

}

.btn_down_div {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #D6D6D6;
	box-shadow: 0 2px 4px #D6D6D6;
	color: #333333;
	padding: 10px 15px;
	position: absolute;
	width: auto;
	z-index: 100;
}

.btn_down_div span{
	font-size: 0.88em;
	color: #918F8F;
	white-space: nowrap;
}

div.btn_down_div:hover {
	cursor: pointer;
}
