@charset "utf-8";
@import url('/resources/font-awesome-4.3.0/css/font-awesome.min.css');

#wrapper{
	width: 100%;
	height: calc(100% - 53px);
}
.bottom-fix {
	background: none repeat scroll 0 0 rgba(125,166,207,0.91);
	width: 100%;
	height: 53px;
	color: #fff;
	line-height: 53px;
	bottom: 0;
	position: absolute;
}

/* -- Welcome -- */
.welcome{
	margin-bottom: 30px;
}
.welcome .main-video { margin-top:40px; }

.welcome .main-video > iframe {
	width: 40%;
    min-width: 235px;
	height: 235px;
	margin: 0 15px 15px 0;
}

 .main-video  p {
	color: #fff;
	font-size: 25px;
	 margin-top: 17px;
}
.col-md-3{
    width:263px;
    float:left;
    padding:0;
	margin:10px 0 10px;

}
.col-md-3  iframe {
	width: 263px;
}

/*--- LSA ---*/
#lsa-text h1 {
	margin-bottom: 30px;
	text-align: center;
}

#lsa-text ul.list-group li {
	min-height: 112px;
}

#lsa-text .group-img {
	float: left;
	font-size: 60px;
	color: #ddd;
}

#lsa-text .issue-group {
	margin: 0 50px 0 70px;
}

#lsa-text .issue-title {
	max-height: 52px;
	color: #297beb;
	text-overflow: ellipsis;
	overflow: hidden;
}

#lsa-text .issue-title h4 {
	margin: 0 0 10px 0;
	font-size: 22px;
}

#lsa-text .issue-body {
	text-align: justify;
}
/*----media----*/
.grob{
	display:none;
}

@media (max-width: 600px) {.welcome .main-video > iframe{
		width: 100%;
        display: block;
	}
}


