@charset "utf-8";

.center_container {
  margin-left: 150px;
}

#root-category .root-list {
  padding: 0;
  margin: 0 0 20px 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

#root-category li h2 a{
  font-size: 0.6em;
}

#root-category .root-list li{
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}