html,body{
    margin:0;
    padding:0;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    width:100%;
    height:110px;
    background: rgba(125,166,207,0.91);
}
#header-cont{
    width:75%;
    margin:0 auto;
    height:300px;
    display: block;
}
.logo{float:left;}
#header-cont ul {
    display: block;
    float:left;
}
#header-cont ul li{
    list-style: none;
    float:left;
    margin-right:20px;
    height:40px;
    background-color:#eaeaea;
    margin-top:47px;
    border-radius: 5px;
}
#header-cont ul li a{
    text-decoration:none;
    font-size:20px;
    line-height: 38px;
    padding: 10px;
}
#cart{
    width:270px;
    float:right;
    margin-top:59px;
}
#cart li{
    float:left;
    list-style: none;

}
#cart a,
#cart span,
#cart i{
    padding-left:10px;
    font-size:23px;
    color:#fff;

}
#container{
    width: 75%;
    margin: 0 auto;
    background: rgba(135,173,210,0.17);
    padding-left: 10px;
    padding-right: 10px;
}
#shop_cart{
    width:100%;
    padding-top: 16px;
}
#shop_cart span{
    font-size:32px;
    color:#268abf;
    margin-top:10px;
}
.table_product{
    width:100%;
    margin-top:20px;
    background: rgba(135,173,210,0.17);
}
th{
    display:table-cell;
    font-size: 20px;
    color: black;
}
tbody > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
}
tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    font-size:20px;
}
#year,
#year1{
    width:85%;
    padding: 0;
}
#checkout{
    float: right;
    margin-top: 27px;
    height: 40px;
    color: #337ab7;;
}
#coupon{
    width:200px;
    height:100px;
    display:block;
}
.input-group{
    width: 250px;
    margin-left: -15px;
    margin-top: 10px;
}
.coupon-text{
    font-size: 18px;
    color: #268abf;
}