#img_test_list .img-list li{
    margin: 0 0 20px 0;
}

#img_test_list .title{
    font-size: 20px;
    color: #1d81ed;
}

#img_test_list .descr{
    font-size: 16px;
}

#img_test_list .domain{
    color: green;
}


#img_test_list .debug{
    font-size: 12px;
}

#img_test_list .img {
    float: left;
    width: 200px;
    height: 140px;
    margin: 0 30px 0 0;
}

#img_test_list .img img {
    width: 100%;
    height: 100%;
}

#img_test_list .img a{
    height: 100%;
    width: 100%;
}

#img_test_list .title,
#img_test_list .domain,
#img_test_list .descr,
#img_test_list .debug{
    margin-left: 200px;
}