@charset "utf-8";

#about{
  display: none;
}

.liel{
  width: 125px;
  height: 75px;
  padding: 25px;

}

#search-text {
  width: 505px;
  float: left;
}

.faves-list {
  margin-bottom: 30px;
}

#root-category .root-list {
  padding: 0;
  margin: 0 0 20px 0;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

#wrap_favelist .faves-list li {
  position: relative;
  list-style: none;
  float: left;
  border: 1px solid #ccc;
}
#wrap_favelist .faves-list li a > img{
  width: 75px;
  height: 25px;
  padding: 0;
}

.faves-list li:nth-child(1n+1) {
  margin-right: -1px;
  margin-bottom: -1px;
}

.faves-list li:hover {
  background: rgba(255,255,255,1);
  background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(41%, rgba(255,255,255,1)), color-stop(85%, rgba(235,235,235,1)), color-stop(100%, rgba(237,237,237,1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(235,235,235,1) 85%, rgba(237,237,237,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );

}


/* Faves List */
.faves-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}

.faves-list li {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 5px #9c9c9c;
  -moz-box-shadow: 0 1px 5px #9c9c9c;
  box-shadow: 0 1px 5px #9c9c9c;
  color: #a3a3a3;
  background: #fafafa;
  text-decoration: none;
  width: 126px;
  height: 46px;
  text-align: center;
}

.faves-list li:nth-child(1n+1) {
  margin-right: 20px;
  margin-bottom: 20px;
}

.faves-list li:nth-child(3n){
  margin-right: 0;
}

.faves-list li a img {
  position: relative;
  max-height: 40px;
  max-width: 106px;
  height: 100%;
  width: 106px;
  padding: 0;
}

.nav-tabs{
  margin-bottom: 20px;
}
.nav-tabs > li {
  margin: 0 3px 0 0;
}
.nav-tabs > li > a {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  padding: 5px;
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #e6ecf8;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

/* FAVES CAROUSEL */
#owl-faves{
  position: relative;
  border-radius: 4px;
  width: 505px;
  height: 46px;
  line-height: 46px;
  margin: 0 auto;
}
#owl-faves .tab-content {
  width: 420px;
}

#owl-faves .owl-carousel{
  position: relative;
  margin: 0 auto 25px;
  width: 505px;
}
#owl-faves .owl-carousel .owl-item{
  text-align: center;
}

#owl-faves .owl-carousel li{
  background-color: #fff;
  border: 1px solid #C9DFF2;
  border-radius: 8px;
  width: 95%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #CAE6FF;
  padding: 0 3px;
  margin: 0 3px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#owl-faves .owl-carousel li:hover{
  cursor: pointer;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#owl-faves .owl-carousel li a {
  color: rgb(121, 184, 255);
  margin: 0 2px 0 2px;
  font-weight: bold;
}
#owl-faves .owl-carousel li a:hover  {
  text-decoration: none;
}

#owl-faves .owl-theme .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
}

#owl-faves .owl-theme .owl-controls .owl-buttons {
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -14px;
  height: 1px;
}

#owl-faves .owl-theme .owl-controls .owl-buttons .owl-prev {
  float: left;
  margin-left: -10px;
}

#owl-faves .owl-theme .owl-controls .owl-buttons .owl-next {
  float: right;
  margin-right: -10px;
}

#owl-faves .owl-theme .owl-controls .owl-buttons div {
  color: #F7FDFF;
  display: inline-block;
  zoom: 1;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  -webkit-border-radius: 26px;
  -moz-border-radius: 26px;
  border-radius: 26px;
  background: #A2D4FF;
  filter: Alpha(Opacity=40);
  opacity: 0.4;
  height: 26px;
  width: 26px;
  line-height: 26px;
}

#owl-faves .owl-carousel .owl-buttons .disabled {
  display: none !important;
}

#owl-faves .owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  opacity: 1;
  text-decoration: none;
  background: #7288e6;
}

#tabbed-faves{
  position: absolute;
  width: 25%;
  right: -50px;
  top: 28px;
}

.cat-title h4{
  color: blue;
  margin-top: 0;
  font-weight: normal;
  font-size: 20px;
}

#faves-wrapper .tab-content > .tab-pane{
  margin-bottom: 45px;
}

#tabbed-faves li {
  background-color: #fff;
  border: 1px solid #C9DFF2;
  border-radius: 6px;
  width: 60%;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #CAE6FF;
  padding: 0;
  margin: 0 0 10px;
  overflow: hidden;
  float: none;
  box-shadow: 0 1px 2px rgb(121, 184, 255);
}

#tabbed-faves li a{
  display: inline-block;
  border: none;
  padding: 0;
  margin: 2px  0;
  color: rgb(121, 184, 255);
  line-height: 15px;
  height: 100%;
  width: 100%;
}

#tabbed-faves li:hover{
  cursor: pointer;
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#tabbed-faves li:active, #tabbed-faves li:focus{
  background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, rgba(225, 245, 255, 1) 85%, rgba(225, 245, 255, 1) 100%);
}

#tabbed-list {
  border-bottom: none;
}

#tabbed-faves li a{
  background-color: transparent;
}

#tabbed-faves li a:hover, #tabbed-faves li a:hover{
  background-color: transparent;
}

#tabbed-faves .nav-tabs > li.active > a,
#tabbed-faves .nav-tabs > li.active > a:hover,
#tabbed-faves .nav-tabs > li.active > a:focus {
  background-color: transparent;
}
