@charset "utf-8";


#search-text {
  width: 505px;
  max-width: 505px;
  float: left;
}

#shopping-ads ul{
  margin: 0;
  padding: 0;
}

#shopping-ads ul li.item{
  display: inline-block;
  margin-bottom: 30px;
  width: 160px;
  height: 260px;
}

#shopping-ads ul li.item:nth-child(3n+2){
  margin: 0 8px;
}

#shopping-ads #ad-img{
  width: 160px;
  height: 160px;
  margin-bottom: 10px;
}

#shopping-ads #ad-img img{
  width: 100%;
  height: 100%;
}

#shopping-ads #ad-title{
  text-align: center;
  height: 40px;
  overflow: hidden;
}

#shopping-ads #ad-price{
  height: 20px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}

#shopping-ads #ad-rank{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #f58400;
}


