@font-face {
  font-family: 'MyriadPro';
  src: url('MyriadProRegular.eot');
  src: url('MyriadProRegular.eot?#iefix') format('embedded-opentype'),
  url('MyriadProRegular.woff') format('woff'),
  url('MyriadProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('MyriadProBold.eot');
  src: url('MyriadProBold.eot?#iefix') format('embedded-opentype'),
  url('MyriadProBold.woff') format('woff'),
  url('MyriadProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MyriadPro';
  src: url('MyriadProSemiBold.eot');
  src: url('MyriadProSemiBold.eot?#iefix') format('embedded-opentype'),
  url('MyriadProSemiBold.woff') format('woff'),
  url('MyriadProSemiBold.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}