html,body{
    margin:0;
    padding:0;
    color:#777;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    padding: 20px 0 20px;
    text-align: center;
    background-color: rgba(125,166,207,0.91);
    height:105px;
}

.header a {
    display: table;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

.header a img {
  max-width: 112px;
  max-height: 91px;
}

.slogan{
    font-size: 37px;
    color:#fff;
    font-weight:400;
}
#banner-contain {
    width: 100%;
    height: 350px;
    background-color: rgba(125,166,207,0.91);
    background-image: url(/resources/img/about/advertise/adv.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
#banner-contain img {
    float: right;
    margin-top: 20px;
    width: 410px;
    margin-right: 178px;
}
#banner-cont {
    margin-left: 12.7%;
    padding-top: 50px;

}
.baner-txt{
    font-size: 21px;
    color: #fff;
    margin-top: 15px;
    margin-bottom: 15px;
}
.content{
    width: 100%;
    min-height: 600px;
    background-color: rgba(135,173,210,0.17);
}
.content h1,.container2 h1{
    text-align: center;
    color: #268abf;
    font-size: 32px;
    margin: 0 0 20px 0;
    padding-top: 35px;
}
#izads,
#izads2{
    color:#fff;
    margin-top:20px;
}
.box1{
    width:100%;
    display: block;
    margin:0 auto;
    background-color: rgba(135,173,210,0.17);
}
.box-col {
    width: 18%;
    float: left;
    margin: 1%;
    margin-top: 20px;
}
.box-col:last-child{
    margin-right:0;
}
.block_title{
    font-size: 18px;
    color: #268abf;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-col{
    width: 150px;
    height: 150px;
    margin: 0 auto;
}
.box-col img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.box-col p{
    text-align: center;
    font-size: 18px;
    color: #777;
}
.container2{
    width: 100%;
    clear:both;
    margin-bottom:50px;
}
.list-cont {
    width:60%;
    margin-left:30%;
    font-size:20px
}
.list-cont i{color:#268abf;}
.list-cont ul{
    list-style:none;
    margin-bottom:50px;
    margin-top:20px;
}

#bottom-btn{
    margin: 0 auto;
    width: 105px;
    margin-top: -30px;
}
#calc-frame{
    outline: 2px solid rgba(66, 139, 202, 0.44);
    padding: 20px;
}

#bottom-btn .hero-banner-btn {text-align: center}

.search-group{
    width: 60%;
}

#keywords-table .radio, #keywords-table .checkbox {
    position: relative;
    display:inline-block;
    vertical-align:middle;
    margin: 0;
}

#total-sum{
    color: #268abf;
}

#autosuggest .autocomplete {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    padding: 10px;
    top: 76px;
    left: 20px;
    min-width: 200px;
    width: 80%;
    height: 175px;
    overflow: hidden;
    z-index: 200;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

#autosuggest .autocomplete li {
    display: list-item;
    text-align: -webkit-match-parent;
    list-style: none;
    text-align: left;
    font-size: 14px;
}

#autosuggest .autocomplete li:hover {
    cursor: pointer;
    color: #555;
    background-color: #a6c9e2;
}

.selected {
    color: #555555;
    background-color: #a6c9e2;
}
#calc-title{
    text-align: center;
    margin: 20px 0 40px 0;
}

.adv-buttons-wrapper{
    position: relative;
    text-align: center;
}

@media (max-width: 1400px){
    .content{height: 650px;}
    .block_title {font-size: 16px;}
}
@media (max-width: 1200px){.content{height: 700px;}}
@media (max-width: 1100px){.content{height: 750px;}}
